<!DOCTYPE html>
<html>
  <head>
    <title>RoomSensor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
      <header class="mdl-layout__header mdl-color--primary-dark">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">SensorGraph</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--8-col">
              <%= yield %>
            </div>
            <div class="mdl-layout-spacer"></div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
